body{
    background-image: url(https://images.unsplash.com/photo-1585314062340-f1a5a7c9328d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8c29saWQlMjBiYWNrZ3JvdW5kfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60);
    background-size: cover;
    
}

.portHeader {
    background-image: url(https://images.unsplash.com/photo-1508615121316-fe792af62a63?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTMwfHxiYWNrZ3JvdW5kfGVufDB8MHwwfHw%3D&auto=format&fit=crop&w=500&q=60);
    background-size: cover;
    
    height: 100px;

}

header h1{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    float: left;
    font-size: 2em;
}

.headNavbar, a {
    display: flex;
    justify-content: flex-end;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: ;
    list-style: none;
    padding: 5px 20px;
    text-decoration: none;
    
}

.aboutMe {
    border: 2px solid blue;
    color: aliceblue;
    height: 500px;
    width: 100%;
       
}

.aboutMe h1{
    text-align: left;
}
.aboutMe img {
    height: 400px;
    width: 50;
    padding: 10px;
    float: left;
}


.myProjects{
    border: 2px solid red;
    height: 950px;
    width: 80%;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    margin-top: 10px;


}

.ecommerceApp, .restaurantApp {
    border: 2px solid pink;
    display: flex;
    text-align: justify;
    padding: 2px;
    margin-top: 10px;
    
}

.ecommerceApp img{
    height: 400px;
    width: 400px;
    padding: 10px;
    
}

.financeApp, .libraryApp {
    border: 2px solid pink;
    display: flex;
    justify-content: flex-end;
    /* text-align: justify; */
    align-content: space-evenly;
    padding: 2px;
    margin-top: 10px;
    
}



.restaurantApp img, .financeApp img, .libraryApp img{
    height: 150px;
    width: 150px;
    padding: 0 10px;
    
    
}

figcaption{
    text-align: center;
}

aside{
    border: 2px solid green;
    height: 950px;
    width: 20%;
    align-content: flex-end;
    
}